<h1>Call function in Amgular</h1>
<button (click)="myEvent('click event')">Click Me</button>
<br><br>
<input type="text" #box1 (keyup)="myEvent(box1.value)" />
<br><br>
<input type="text" #box2 (keyup.enter)="myEvent(box2.value)" />
<br><br>
<input type="text" #box3 (blur)="myEvent(box3.value)" />
<br><br>
<div style="background-color: skyblue;" 
(mouseover)="myEvent('Mouse is in')"> Mouse Events</div>
<br><br>
<div style="background-color: red;" 
(mouseleave)="myEvent('Mouse is out')"> Mouse Events</div>

